<% include components/header.ejs %>
<div class="wrap" data-aid=<%=article.aid%>>
  <div class="container article-container">
    <article class="article">
      <div class="post-info article-info">
      <span>Luckyscript post on <%=article.created%></span>
      </div>
      <h2 class="post-title article-title">
        <a href="/article/<%=article.link%>" class="post-title-link"><%=article.title%></a>
      </h2>
      <div class="post-info  article-info" style="margin-left: 20px;">
        <a class="article-category" href="/category/<%=article.category.name%>"><%=article.category.name%></a>
        <%article.tags.forEach(t => { %>
          <a class="article-tag" href="/tag/<%=t.name%>"><%=t.name%></a>
        <%})%>
        <span>Reading time：<%=Math.ceil(article.contentLength/230)%> min</span>
        <span><%=article.readnum%> Times read</span>
      </div>
      <div>
      </div>
      <div class="post-content article-content">
        <%if (article.outdate !== 'false') {%>
          <p class="expired-tips"> 提醒：本文最后更新于 <%=article.outdate%> 天前，文中所描述的信息可能已发生改变，请谨慎阅读。</p>
        <%}%>
        <%-article.markdown.html%>
      </div>
      <%- include('./components/comments.ejs')%>
    </article>
    <aside class="aside">
      <%- include('./components/toc.ejs') %>
    </aside>
  </div>
</div>
<%- include('footer.html') %>
</body>
<script src="//apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<script>
  const cookieObject = document.cookie.split(';').reduce((result, current) => {
    const [,key, value] = /(.+)=(.+)/.exec(current.trim());
    result[key] = value;
    return result;
  }, {});
  const csrfToken = cookieObject['csrfToken'];
  const replys = [];
  window.pid = null;
  window.aid = "<%=article.aid%>";
  function reply(id, name) {
    const commentTextarea = document.querySelector('#comment-content');
    window.pid = id;
    if (commentTextarea.value.search(`@${name}`) === -1) {
      commentTextarea.value = `@${name} ` + commentTextarea.value ;
    }
    commentTextarea.focus();
    if (!replys.includes(id)) {
      replys.push(id);
    }
  }
  var handler = function (captchaObj) {
    captchaObj.appendTo('#captcha');
    captchaObj.onReady(function () {
      $("#wait").hide();
    });

    const submitBtn = document.querySelector('#submit-comment');
    const formNode = document.querySelector('#comment-form');
    submitBtn.addEventListener('click', () => {
      // TODO 表单校验
      const formdata = new FormData(formNode);
      const content = formdata.get('content').trim();
      const name = formdata.get('name').trim();
      const email = formdata.get('email').trim();
      const site = formdata.get('site').trim();
      if (name === '') {
        alert('请填写您的姓名或昵称');
        return;
      }
      if (email === '') {
        alert('请输入您的邮箱');
        return;
      } else {
        if (!/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test(email)) {
          alert('您的邮箱不合法');
          return;
        }
      }
      if (content === '') {
        alert('请输入您评论的内容');
        return;
      }
      if (site !== '') {
        if (!/^(https|http):\/\/([\w\-]+(\.[\w\-]+)*\/)*[\w\-]+(\.[\w\-]+)*\/?(\?([\w\-\.,@?^=%&:\/~\+#]*)+)?/.test(site)) {
          alert('您的网站地址不合法，请以（http|https）开头');
          return;
        }
      }
      var result = captchaObj.getValidate();
      if (!result) {
        return alert('请完成验证');
      }
      $.ajax({
        url: '/article/comment',
        type: 'POST',
        headers: {
          'x-csrf-token': csrfToken,
        },
        dataType: 'json',
        data: {
          aid: window.aid,
          pid: window.pid,
          replys,
          content,
          name,
          email,
          site,
          geetest_challenge: result.geetest_challenge,
          geetest_validate: result.geetest_validate,
          geetest_seccode: result.geetest_seccode
        },
        success: function (data) {
          if (data.success) {
            window.location.hash = '#comment';
            window.location.reload();
          } else {
            alert(data.errMsg);
            captchaObj.reset();
          }
        },
        error: function(data) {
          alert(data.responseText);
          captchaObj.reset();
        }
      });
    })
  }
</script>
<script>
window.onload = function() {
  const headerNodes = [1, 2, 3, 4, 5, 6].reduce((result, current) => {
    result.push(...document.querySelectorAll(`h${current}.articleHeader`));
    return result;
  }, []);
  const headerNodesOffsetTop = headerNodes.map(v => v.offsetTop);

  const tocListNodes = document.querySelectorAll('li.toc-list');

  // flag 节流
  let flag = false;
  handleScroll();
  
  document.addEventListener('scroll', handleScroll, false);

  function handleScroll () {
    if (flag)
      return;
    flag = true;
    window.setTimeout(function() {
      let scrollTop = document.documentElement.scrollTop;
      const activeIndex = headerNodesOffsetTop.map(v => v - scrollTop).filter(v => v <= 0).length - 1;
      setActiveHeader(activeIndex);
      flag = false;
    }, 10);
  }

  function setActiveHeader(index) {
    const highLightHeader = document.querySelector('#highlight-header');
    tocListNodes.forEach(toc => {
      toc.className = 'toc-list';
    })
    if (index === -1) {
      highLightHeader.style.top = 0;
      tocListNodes[0].className = 'toc-list active';
    } else {
      highLightHeader.style.top = index * 28 + 'px';
      tocListNodes[index].className = 'toc-list active';
    }

  }
};
</script>
<script>
$.ajax({
  url: "/article/validate?t=" + (new Date()).getTime(),
  type: "get",
  dataType: "json",
  success: function (data) {
    initGeetest({
      gt: data.gt,
      challenge: data.challenge,
      offline: !data.success,
      new_captcha: data.new_captcha,
      product: "popup",
      width: "300px"
    }, handler);
  }
});
</script>
</html>