<% include components/header.ejs %>
<div class="wrap" data-aid=<%=article.aid%>>
  <div class="container article-container">
    <article class="article">
      <h2 id="articleTitle">
        <a href="/article/<%=article.aid%>"><%=article.title%></a>
      </h2>
      <div class="post-info article-info">
          <time><%=article.created%></time>
          |
          阅读：<span><%=article.readnum%></span>
          <%if(category && category[0]){%>
              |
              <i class="fa fa-bookmark"></i>
              <a href="/category/<%=category[0].name%>">#<%=category[0].name%></a>
          <%}%>
          <%if(tags && tags.length > 0) {%>
          |
          <i class="fa fa-tags"></i>
              <%tags.forEach(function(i) {%>
                  <a href="/tag/<%=i.name%>">#<%=i.name%></a>
              <%})%>
          <%}%>
      </div>
      <div class="post-content">
        <%if (article.diff) {%>
          <p class="expired-tips"> 提醒：本文最后更新于 <%=article.diff%> 天前，文中所描述的信息可能已发生改变，请谨慎阅读。</p>
        <%}%>
        <%-article.text%>
      </div>
    </article>
    <aside class="aside">
      <%- include('./components/toc.ejs') %>
    </aside>
  </div>
</div>
<%- include('footer.html') %>
</body>

<script src="/public/scripts/article.js"></script>
</html>