    <%- include('components/header.ejs') %>
    <div id="app" class="wrap">
      <div class="container">
        <main class="main">
        <div class="form">
          <button id="submit">贡献好文</button>
        </div>
        <table class="fl-table">
          <thead>
            <tr>
              <th width="10%">时间</th>
              <th>标题</th>
              <th width="15%">类别</th>
              <th width="10%">点击</th>
            </tr>
          </thead>
          <tbody>
              <%links.forEach(function(item) {%>
                <tr title="<%=item.url%>">
                  <td><%=item.date%></td>
                  <td><a href="/link/to/<%=item.uuid%>"><%=item.name%></a></td>
                  <td><%=item.category && item.category.name%></td>
                  <td><%=item.readnum%></td>
                </tr>
              <%})%>
          </tbody>
        </table>
        </main>
      </div>
      <%include components/pagination.ejs%>
    </div>
       

</body>
<script>
  document.querySelector('#submit').addEventListener('click', function() {
    window.location.href = '/link/add';
  })
</script>

</html>
