/*footer*/
footer {
  font-family: "Menlo","Lucida Console";
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1px;
  user-select: none;
  & .copyright {
    margin: 4em 0;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
  }
  & .copyright p,& .copyright a {
    color: #aaa;
    font-size: 14px;
    font-weight: 100;
  }
  & .copyright a:hover {
    color: #888;
  }
}