body.light {
  --bg: #fff;
  --mainColor: #2c3e50;
  --fontColor: #34495e;
  --activeColor: #42b983;
  --markColor: #d480aa;
  --borderColor: #eee;
  --greyColor: #b1afaf;
  --headerColor:  #fafafa;
  --libgColor: #f3f3f3;
}

body.dark {
  --bg: #282c35;
  --headerColor: #282c35;
  --fontColor: #fff;
  --activeColor: #d480aa; 
  --markColor: #42b983;
  --libgColor: #202329;
  -webkit-font-smoothing: antialiased;
}