logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
app/**/*.css
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
config/config.prod.ts

!app/public/**/*.js
app/public/upload/*
!app/public/lib/**

!client/**/*.js
