
<form class="post-comment" id="comment-form">
  <ul class="comment-container" id="comment">
      <h2>Comments:</h2>
      <%-commentNode%>
  </ul>
  <% if (!githubUserInfo) {%>
    <div>
      <a class="chat-login fa fa-github" href="/auth/github/login">使用Github登录参与评论</a>
    </div>
  <%}%>
  <div class="comment-container">
    <div class="avatar">
      <img src="<%=githubUserInfo.avatar_url%>">
    </div>
  </div>
  <div class="text-area">
      <textarea name="content" id="comment-content"></textarea>
  </div>
  <button id="submit-comment" type="button">发表</button>
  <input type="hidden" id="pid">
</form>
