<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title><%=title%> | Luckyscript's Blog</title>
    <meta name="theme-color" content="#007b8b">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Luckyscript's Blog">
    <meta name="msapplication-starturl" content="https://www.luckyscript.me">
    <meta name="msapplication-navbutton-color" content="#34495e">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Luckyscript's Blog">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <meta name="keywords" content="luckyscript"> 
    <meta name="description" content="萧迹，目前在杭州，专注于web开发。这个博客是我随手记东西的地方"> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <link rel="stylesheet" href="/public/stylesheets/common.css">
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
    <link rel="manifest" href="/static/manifest.json">
</head>
<body>
<header>
    <div>
        <a href="/">
            <span class="site-title">
                Luckyscript's 
                <span>Blog</span>
            </span>
        </a>
        <ul class="nav nav-list">
            <%nav.forEach(function (item) {%>
                <li class="nav-list-item">
                    <a href="<%=item.url%>" target="_self" class="nav-list-link"><%=item.name%></a>
                </li>
            <%})%>
        </ul>
        <form action="/search">
            <input id="searchBox" name="keywords" placeholder="请输入关键字">
            <button>Search</button>
        </form>
    </div>
</header>