<div class="toc">
  <div class="toc-header">目录</div>
  <div class="toc-body">
    <ul class="articleIndex">
    <% article.toc.forEach(function(item) { %>
      <li style="margin-left: <%=item.level * 15 - 15%>px;">
        <a href="#<%=item.slug%>"> <%=item.title%> </a>
      </li>
    <% }) %>
    </ul>
  </div>
</toc>