<% if (article.toc && article.toc.length) {%>
<div class="toc">
  <div class="toc-header">目录</div>
  <div class="toc-body">
    <div id="highlight-header"></div>
    <ul class="articleIndex">
    <% article.toc.forEach(function(item) { %>
      <li style="margin-left: <%=item.level * 15 - 5%>px;" class="toc-list">
        <a href="#<%=item.slug%>"> <%=item.title%> </a>
      </li>
    <% }) %>
    </ul>
  </div>
</div>
<%}%>